#Client config
client
resolv-retry infinite
remote {{range $option := .options}}{{if eq $option.Key "local"}}{{$option.Value}}{{end}}{{end}}

#Connect config
port {{range $option := .options}}{{if eq $option.Key "port"}}{{$option.Value}}{{end}}{{end}}
proto {{range $option := .options}}{{if eq $option.Key "proto"}}{{$option.Value}}{{end}}{{end}}
dev {{range $option := .options}}{{if eq $option.Key "dev"}}{{$option.Value}}{{end}}{{end}}
nobind
remote-cert-tls server
persist-key
persist-tun
comp-lzo {{range $option := .options}}{{if eq $option.Key "comp-lzo"}}{{$option.Value}}{{end}}{{end}}
tun-mtu {{range $option := .options}}{{if eq $option.Key "tun-mtu"}}{{$option.Value}}{{end}}{{end}}
tls-client

#Client config
keepalive 60 120

#Encryption config
{{- range $option := .options }}{{ if eq $option.Key "data-ciphers" }}
data-ciphers {{ $option.Value }}
{{- end }}{{ end }}
{{- range $option := .options }}{{ if eq $option.Key "auth" }}
auth {{$option.Value}}
{{- end }}{{ end }}
{{- range $option := .options }}{{ if eq $option.Key "cipher" }}
auth {{$option.Value}}
{{- end }}{{ end }}

#Log config
log-append /var/log/openvpn/openvpn-append.log
verb 3

{{ if .cert }}
<cert>
{{ .cert -}}
</cert>
{{- end }}
{{ if .key }}
<key>
{{ .key -}}
</key>
{{- end }}
{{ if .ca }}
<ca>
{{ .ca -}}
</ca>
{{- end }}
{{ if .tlsAuth }}
key-direction 1
<tls-auth>
{{ .tlsAuth -}}
</tls-auth>
{{- end }}
