# Server config
local {{ .local }}

server {{ .network.IP }} {{ .network.Mask }}
management localhost 7505
crl-verify /etc/openvpn/crl.bin

# Push routes to the client to allow it
push "route {{ .network.IP }} 255.255.255.0"

# Connect config
port 1194
proto tcp
dev tun
topology subnet
remote-cert-tls client
persist-key

persist-tun
comp-lzo no
tun-mtu 1500

# Cert config
ca /etc/openvpn/ca.crt
tls-auth /etc/openvpn/ta.key 0
dh /etc/openvpn/dh.pem
cert /etc/openvpn/server.crt
key /etc/openvpn/server.key

# Client config
ifconfig-pool-persist /etc/openvpn/client/ipp.txt
client-config-dir /etc/openvpn/ccd/
keepalive 60 120
client-to-client

# Encryption config
data-ciphers AES-256-GCM:AES-128-GCM:AES-256-CBC
auth SHA256

# Log config
status /etc/openvpn/openvpn-status.log
status-version 2
log-append /var/log/openvpn/openvpn-append.log
verb 3
daemon
